@tailwind base;
@tailwind components;
@tailwind utilities;

.input-error {
    @apply border-red-600 focus:outline-red-400;
}
.input-required::after {
    content: '*';
    /* color: theme('colors.red.600');
    font-weight: theme('fontWeight.semibold');
    margin-left: theme('margin.2');
    font-size: theme('fontSize.lg'); */
    @apply text-red-600 font-semibold ml-2 text-lg;
}
.input-error-msg {
    @apply text-red-500 mt-1 text-sm;
}